<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand puntero" [routerLink]="['homeAuth0']">
        Auth0 App
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['homeAuth0']">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['preciosAuth0']">Precios</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['protegidaAuth0']">Protegida</a>
            </li>
        </ul>
        <span class="navbar-text">
            <button *ngIf="!auth.loggedIn" type="button" class="btn btn-outline-primary">
                Ingresar
            </button>
            <button *ngIf="auth.loggedIn" type="button" class="btn btn-outline-danger">
                Salir
            </button>
        </span>
    </div>
</nav>