<button (click)="viewTipeScript()">TYPESCRIPT</button>
<button (click)="viewAplicacion1()">Aplicación #1: HolaMundo</button>
<button (click)="viewAplicacion2()">Aplicación #2: Aplicación 1 Página</button>
<button (click)="viewAplicacion3()">Aplicación #3: Pipes</button>
<button (click)="viewAplicacion4()">Aplicación #4: SpotiApp </button>
<button (click)="viewAplicacion6()">Aplicación #6: Misceláneos</button>
<button (click)="viewAplication7()">Aplicación #7: Auth0</button>
<app-navbar *ngIf=isViewNavbarHeroes></app-navbar>
<div class="container main-container">
    <router-outlet></router-outlet>
</div>