<button (click)="viewTipeScript()">TYPESCRIPT</button>
<button (click)="viewAplicacion1()">Aplicación #1: HolaMundo</button>
<button (click)="viewAplicacion2()">Aplicación #2: Aplicación 1 Página</button>
<button (click)="viewAplicacion3()">Aplicación #3: Pipes</button>
<button (click)="viewAplicacion4()">Aplicación #4: SpotiApp </button>
<button (click)="viewAplicacion6()">Aplicación #6: Misceláneos</button>
<button (click)="viewAplication7()">Aplicación #7: Auth0</button>
<button (click)="viewAplication8()">Aplicación #8: Formularios</button>
<button (click)="viewAplication9()">Aplicación #9: CRUD Firebase</button>
<button (click)="viewAplication10()">Aplicación #10: FireChat</button>
<button (click)="viewAplication11()">Aplicación #11: PeliculasApp</button>
<app-navbar *ngIf=isViewNavbarHeroes></app-navbar>
<div class="container animate__animated animate__fadeIn animate__faster">
    <router-outlet></router-outlet>
</div>