<h1>Héroes <small>Mavel y DC</small></h1>
<hr/>

<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let id = index">
    <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-block">
      <h4 class="card-title">{{heroe.nombre}}</h4>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
      <button type="button" name="button" class="btn btn-outline-info btn-block" (click)="verHeroe(id)">
        Ver más...
      </button>
      <!--<a [routerLink]="['/heroe',id]" class="btn btn-outline-primary">Ver mas link...</a>-->
    </div>
  </div>
</div>
